$menue_underlineColor: #237dbd;
$menue_textColor: rgb(67, 67, 72);
$menue_textColor_subline: #445e6f;
$menue_textColor_night: rgb(140, 140, 145);
$menue_textColorHover: #237dbd;
$menue_GeosphereWeb-header_bgr: rgba(19, 47, 76, 0.98);
$main_text-color-apexlogo: #1670B5;
$footer_text-color-apexlogo: #1670B5;
$main_footer_bgr: #001220;
